<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Authors</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="book-content">
            {% for author in authors %}
            <div class="book">
                <h3 class="book-title">{{ author.name }}</h3>
                <ul class="book-info">
                    
                </ul>
                <form action="/authors" method="POST">
                    <input type="hidden" name="id" value="{{ author.id }}">
                    <input type="hidden" name="target" value="delete">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <script async defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>