<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Library</title>
    </head>
    <body>
       <header class="main-header">
           <h1 class="header-title">Library</h1>
           <nav class="header-navbar">
               <a href="/">Home</a>
               <a href="/books">Books</a>
               <a href="/authors">Authors</a>
               <a href="/add_book">Add Book</a>
            </nav>
       </header>
       <div class="main-content">
            <form class="content-form" action="/books" method="GET" onSubmit="return disableRadio()">
                <div class="form-actions">
                    <input class="form-input" name="name" type="text" value="" placeholder="Search by book name...">
                    <button class="form-submit" type="submit">Search</button>
                </div>
                <div class="form-radio">
                    <span>
                        <input class="radio" type="radio" id="book" name="search" value="book" checked onChange="changeSearch()">
                        <label for="book">Search by book</label>
                    </span>
                    <span>
                        <input class="radio" type="radio" id="author" name="search" value="author" onChange="changeSearch()">
                        <label for="author">Search by author</label>  
                    </span>
                </div>
            </form>
       </div>

       <script async defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
