<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Book</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% include 'header.html' %}
        <form action="/book" method="POST">
            <div class="book-content">
                <div class="book">
                    <strong>Title:</strong>
                    <h3 class="book-title"><input name="title" type="text" value="{{ book.title }}" placeholder="Book title"></h3>
                    <ul class="book-info">
                        <li><span>Genre:</span> <input name="genre" type="text" value="{{ book.genre }}" placeholder="Genre"></li>
                        <li><span>Date:</span> <input name="date" type="text" value="{{ book.date }}" placeholder="Date"></li>
                        <li><span>ISBN:</span> <input name="isbn" type="text" value="{{ book.isbn }}" placeholder="ISBN"></li>
                        <li><span>Authors:</span>
                            <input name="authors" type="text" value="{{ book.authors }}">
                        </li>
                    </ul>
                        <input type="hidden" name="id" value="{{ book.id }}">
                        <button type="submit" class="update-button">Update</button>
                </div>
            </div>
        </form>
        <script async defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>